@model List<PreviewOrderModel>
@{
    ViewData["Title"] = "Order Confirmation";
}

<div class="shopping-cart">
    <header>
        <h1>My Order</h1>
    </header>
    <section>
        <table class="table">
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="d-table-row">
                        <td class="d-table-cell">@item.Amount_Pizzas</td>
                        <td class="d-table-cell">@item.Size</td>
                        <td class="d-table-cell">@item.Crust  Crust</td>
                        <td class="d-table-cell">@item.Style_Pizza  Pizza(s)</td>
                        <td class="d-table-cell">$@item.Item_Cost</td>
                    </tr>
                }
                <tr class="d-table-row">
                    <td class="d-table-cell" style="font-weight:bold">Subtotal:</td>
                    <td class="d-table-cell"></td>
                    <td class="d-table-cell"></td>
                    <td class="d-table-cell"></td>
                    <td class="d-table-cell" style="font-weight:bold">$@decimal.Round(Assets.Subtotal,2)</td>
                </tr>
                <tr class="d-table-row">
                    <td class="d-table-cell" style="font-weight:bold">Tax:</td>
                    <td class="d-table-cell"></td>
                    <td class="d-table-cell"></td>
                    <td class="d-table-cell"></td>
                    <td class="d-table-cell" style="font-weight:bold">$@decimal.Round(Assets.Tax,2)</td>
                </tr>
                <tr class="d-table-row">
                    <td class="d-table-cell" style="font-weight:bold">Total:</td>
                    <td class="d-table-cell"></td>
                    <td class="d-table-cell"></td>
                    <td class="d-table-cell"></td>
                    <td class="d-table-cell" style="font-weight:bold">$@decimal.Round(Assets.Order_Total,2)</td>
                </tr>
            </tbody>
        </table>
    </section>
    <br />
    <!--Submit Order + Add To Order-->
    <div style="margin:auto;">
        <a asp-controller="Order" asp-action="Step2"><input type="button" value="GO BACK" /></a>
        <br /><br />
        <a asp-controller="Order" asp-action="Confirmation"><input type="button" value="CONFIRM" /></a>
    </div>
</div>
