@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Pizza Box</h1>
    <a href="#signin">Sign In</a>&emsp;|&emsp;<a href="#signup">Sign Up</a>
</div>
