@{ 
    ViewData["Title"] = "Sign In";
}

<h1>Sign In</h1>
<hr/>
<form>
    Username:
    <input type="text" required/>
    <br/><br/>
    Password:
    <input type="password" required/>
    <br/><br/>
    <input type="submit" />
</form>