@{ 
    ViewData["Title"] = "Sign Up";
}

<h1>Sign Up</h1>
<hr/>
<form>
    Full Name:
    <input type="text" required/>
    <br/><br/>
    Username:
    <input type="text" required/>
    <br/><br/>
    Password:
    <input type="password" required/>
    <br/><br/>
    <!--
     Verify Password: 
    <input type="password" required/>
    -->
    <input type="submit" required/>
</form>