@model Assets
@{ 
    ViewData["Title"] = "Sign Up";
}

<h1>Sign Up</h1>
<hr/>
<form asp-controller="User" asp-action="ValidateSignup" method="post">
    Full Name:
    @Html.TextBoxFor(u=>u.user.FullName, new {placeholder="Enter Name", required="required"})
    <br/><br/>
    Username:
    @Html.TextBoxFor(u=>u.user.Username, new {placeholder="Enter Username", required="required"})
    <br/><br/>
    Password:
    @Html.PasswordFor(u=>u.user.Pass, new {placeholder="Enter Password", required="required"})
    <br/><br/>
    <!--
     Verify Password: 
    <input type="password" required/>
    -->
    <input type="submit" required/>
</form>