@{ 
    ViewData["Title"] = "Order History";
}

<h1>Order History</h1>
<hr/>
<a asp-area="" asp-controller="Store" asp-action="ShopHistory">Recent Orders By Shop</a>
<br/>
<a asp-area="" asp-controller="Store" asp-action="AllOrders">All Orders</a>