<!--
@{
    ViewData["Title"] = "Index";
}
-->
<!--
<h2>Store Index</h2>
<p>Hello from our View Template</p>
-->
<!-- Prints Hello BobHello BobHello Bob inside div-->
<!--
<div style="background-color:aqua;padding=100px;">
    @for(int i=0; i<3; i++)
    {
        @ViewData["message"]
    }
</div>
-->
