@{
    ViewData["Title"] = "Menu";
}

<h1>PIZZABOX MENU</h1>
<div style="background-color:honeydew;padding:20px;width:100%;">
    <h5>SPECIALTY PIZZAS</h5>
</div>
<br/>
<table>
    <tbody>
        <tr>
            <td>
                <div style="margin-right:10px;border:2px;border-style:solid;border-color:red;border-radius:10px;padding:40px;">
                    <h5>Vegan</h5>
                    <hr />
                    $4 Sm<br />
                    $8 Md<br />
                    $12 Lg<br />
                </div>
            </td>
            <td>
                <div style="margin-right:10px;border:2px;border-style:solid;border-color:red;border-radius:10px;padding:40px;">
                    <h5>Pepperoni</h5>
                    <hr />
                    $5 Sm<br />
                    $10 Md<br />
                    $15 Lg<br />
                </div>
            </td>
            <td>
                <div style="margin-right:10px;border:2px;border-style:solid;border-color:red;border-radius:10px;padding:40px;">
                    <h5>BBQ Chicken</h5>
                    <hr />
                    $6 Sm<br />
                    $12 Md<br />
                    $18 Lg<br />
                </div>
            </td>
            <td>
                <div style="margin-right:10px;border:2px;border-style:solid;border-color:red;border-radius:10px;padding:40px;">
                    <h5>Meatball</h5>
                    <hr />
                    $7 Sm<br />
                    $14 Md<br />
                    $21 Lg<br />
                </div>
            </td>
            <td>
                <div style="margin-right:10px;border:2px;border-style:solid;border-color:red;border-radius:10px;padding:40px;">
                    <h5>Supreme</h5>
                    <hr />
                    $8 Sm<br />
                    $16 Md<br />
                    $24 Lg<br />
                </div>
            </td>
            <td>
                <div style="margin-right:10px;border:2px;border-style:solid;border-color:red;border-radius:10px;padding:40px;">
                    <h5>Greek</h5>
                    <hr />
                    $9 Sm<br />
                    $18 Md<br />
                    $27 Lg<br />
                </div>
            </td>
        </tr>
    </tbody>
</table>