@{
    ViewData["Title"] = "Menu";
}

<h1>PIZZABOX MENU</h1>
<div style="background-color:honeydew;padding:20px;width:100%;">
    <h5>SPECIALTY PIZZAS</h5>
</div>
<table>
    <tbody>
        <tr>
            <td>
                <div>
                    Vegan<br/>
                    Small | $4<br/>
                    Medium | $8<br/>
                    Large | $12<br/>
                    <br />
                    <a asp-controller="Store" asp-action="Order"><div class="order-btn">ORDER NOW</div></a>
                </div>
            </td>
            <td>
                <div>
                    Pepperoni<br/>
                    Small | $5<br/>
                    Medium | $10<br/>
                    Large | $15<br/>
                    <br />
                    <a asp-controller="Store" asp-action="Order"><div class="order-btn">ORDER NOW</div></a>
                </div>
            </td>
            <td>
                <div>
                    BBQ Chicken<br/>
                    Small | $6<br/>
                    Medium | $12<br/>
                    Large | $18<br/>
                    <br />
                    <a asp-controller="Store" asp-action="Order"><div class="order-btn">ORDER NOW</div></a>
                </div>
            </td>
            <td>
                <div>
                    Meatball<br/>
                    Small | $7<br/>
                    Medium | $14<br/>
                    Large | $21<br/>
                    <br />
                    <a asp-controller="Store" asp-action="Order"><div class="order-btn">ORDER NOW</div></a>
                </div>
            </td>
            <td>
                <div>
                    Supreme<br/>
                    Small | $8<br/>
                    Medium | $16<br/>
                    Large | $24<br/>
                    <br />
                    <a asp-controller="Store" asp-action="Order"><div class="order-btn">ORDER NOW</div></a>
                </div>
            </td>
        </tr>
    </tbody>
</table>